<!DOCTYPE html>
<html lang="hu">
<head>
<meta charset="UTF-8">
<title>Hiba</title>
<!--===============================================================================================-->
<link rel="icon" type="image/ico" href="login/images/icons/service.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="error/error.css">
</head>
<body>
	<div class="container">

		<div class="error">
			<p class="p">4</p>
			<span class="dracula">
				<div class="con">
					<div class="hair"></div>
					<div class="hair-r"></div>
					<div class="head"></div>
					<div class="eye"></div>
					<div class="eye eye-r"></div>
					<div class="mouth"></div>
					<div class="blod"></div>
					<div class="blod blod2"></div>
				</div>
			</span>
			<p class="p">4</p>

			<div class="page-ms">
				<p class="page-msg">Ilyen oldal nincs :(</p>
				<button class="go-back" onclick="location.href='/login';">Kezdőlap</button>
			</div>
		</div>

	</div>
</body>
</html>